.day-slider-points {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day-slider-point {
  flex: 0 0 12px;
}

.day-slider-point:first-child {
  margin-left: -6px;
}

.day-slider-point:last-child {
  margin-right: -6px;
}
